body {
    margin: 0px;
}

/* Main Page Styling */

#main-page {
    background-color: lightblue;
    text-align: center;
}

#main-content {
    background-color: lightcoral;
}

/* Header Styling */

header {
    background-color: whitesmoke;
    padding: 8px 8px;
    text-align:center;
    position: sticky;
    top: 0px;
    opacity: 0.8;
}

.back-button {
    padding: 8px 16px;
    display: inline-block;
}

.menu-div {
    display: inline-block;
    width: 91%;
    text-align: end;
}

.menu-item {
    padding: 8px 16px;
}

/* Section Styling */

.section1 {
    background-color: lightslategray;
    height: 400px;
}

.section2 {
    background-color: lightgray;
    height: 400px;
}